.app-icon-48 {
  font-size: 48px;
  height: 48px !important;
  width: 48px !important;
}

.app-icon-36 {
  font-size: 36px;
  height: 36px !important;
  width: 36px !important;
}

@mixin expose-material-theme-classes($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  mat-card.cursor-pointer {
    &:hover {
      outline: 1px solid mat-color($primary);
    }
  }

  .app-bg-primary {
    background-color: mat-color($primary) !important;
    color: mat-color($foreground, text);
  }

  .app-bg-accent {
    background-color: mat-color($accent) !important;
    color: mat-color($foreground, text);
  }

  .app-bg-warn {
    background-color: mat-color($warn) !important;
    color: mat-color($foreground, text);
  }

  .app-text-title,
  .app-text-primary {
    color: mat-color($primary);
  }

  .app-text-accent {
    color: mat-color($accent);
  }

  .app-text-warn {
    color: mat-color($warn);
  }

  .app-dialog-warn .mat-dialog-container {
    background-color: mat-color($warn);
    color: mat-color($foreground, text);
  }

  .app-dialog-primary .mat-dialog-container {
    background-color: mat-color($primary);
    color: mat-color($foreground, text);
  }

  .app-dialog-accent .mat-dialog-container {
    background-color: mat-color($accent);
    color: mat-color($foreground, text);
  }

  .app-body-bg {
    background-color: mat-color($background, background);
    color: mat-color($foreground, text);
  }
}
