<div class="monero-logo"></div>

<h1 class="mat-display-2"
    style="text-align: center"
    i18n="Subtitle, header@@home-header-subtitle">
  Interactive Tutorials on Monero Stagenet
</h1>

<section fxLayout="column"
         fxLayout.gt-sm="row"
         fxLayoutGap="16px">

  <mat-card fxFlex.gt-sm="33"
            class="mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar
           class="p2p-background"></div>
      <mat-card-title i18n="Home Card 1 Title, home@@home-card1-title">
        Learn Monero
      </mat-card-title>
      <mat-card-subtitle i18n="Home Card 1 Subtitle, home@@home-card1-subtitle">
        Without spending actual funds!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Home Card 1 Paragraph 1, home@@home-card1-p1">
        Learn by interacting with the Monero Stagenet Network.
        Tutorials validates your steps and teaches you how to
        use Monero.
      </p>
      <p i18n="Home Card 1 Paragraph 2, home@@home-card1-p2">
        You can do every tutorial without spending any real Monero
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              i18n="Home Card 1 Start Button, home@@home-card1-start-button">START</button>
    </mat-card-actions>
  </mat-card>

  <mat-card fxFlex.gt-sm="33"
            class="mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar
           class="p2p-background"></div>
      <mat-card-title i18n="Home Card 2 Title, home@@home-card2-title">
        Stagenet only
      </mat-card-title>
      <mat-card-subtitle i18n="Home Card 2 Subtitle, home@@home-card2-subtitle">
        No real monero will be spent
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Home Card 2 Paragraph 1, home@@home-card2-p1">
        All tutorials work only in the Monero Stagenet.
        The Stagenet is exactly the same as Mainnet, only that
        coins have no value.
      </p>
      <p i18n="Home Card 2 Paragraph 2, home@@home-card2-p2">
        The technology is the same, what you learn on the Stagenet
        works the same on the Mainnet.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex.gt-sm="33"
            class="mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar
           class="github-background"></div>
      <mat-card-title i18n="Home Card 3 Title, home@@home-card3-title">
        Contributing
      </mat-card-title>
      <mat-card-subtitle i18n="Home Card 3 Subtitle, home@@home-card3-subtitle">
        Is there anything broken? Want to help?
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p i18n="Home Card 3 Paragraph 1, home@@home-card3-p1">
        The entire code for Monero Interactive is hosted on GitHub.
        If you find anything broken, incorrect information, or
        something else, you can create issues on our GitHub.
      </p>
      <p i18n="Home Card 3 Paragraph 2, home@@home-card3-p2">
        You can also reach us at {{supportEmail}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
              i18n="Home Card 3 GitHub Button, home@@home-card3-github-button">CODE ON GITHUB</button>
    </mat-card-actions>
  </mat-card>

</section>

<section>
  <hr style="margin-bottom: 16px">
  <h2 class="mat-display-1">
    Beginer tutorials
  </h2>
  <app-tutorial-list></app-tutorial-list>
</section>