.monero-logo {
  background-image: url('~/assets/monero_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30%;
}

section {
  padding: 0 16px;
  margin-bottom: 32px;
}
