.monero-logo {
  background-image: url('~/assets/monero_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 30%;
}

.p2p-background {
  background-image: url('~/assets/p2p_network.png');
  background-size: cover;
}

.github-background {
  background-image: url('~/assets/github_logo_32.png');
  background-size: cover;
}

section {
  padding: 0 16px;
  margin-bottom: 32px;
}
